
/*------------------------------------------------------------------------------------------*/
/*----------------------------------{index.htmlで使う}---------------------------------------*/
/*------------------------------------------------------------------------------------------*/



/*トップやタイトル(index)用*/
.Introduction_index{
	background: rgb(114, 149, 177);	
	color: rgb(215, 224, 226);
	padding: 30px;		
	border : 4px solid;
	border-color: #a3a9ca;
	text-align: center;
	
	
}



/*
	ボタンを配置
*/
.ButtonBox_index{
	position: relative;
    margin: 0 auto;
	width:100%;
	height: auto;
}


/*
	項目一覧...項目名は簡潔に
*/
.Index_List_index{
	color: black;
	max-width: 800px;
}




/*
	Indexの選択肢のボタン(左側)
	animation付き
	ボタンの縁はjavascriptで変更する
	heightはjavascriptで指定
*/
.button_left_index {
	justify-content: center;
	align-items: center;
	background: rgb(219, 221, 224);
	border: 2px solid rgb(102, 112, 168);
	box-sizing: border-box;
	float:left;
	width:33%;
	color:  rgb(102, 112, 168);
	font-size: 14px;
	text-align: center;
	text-decoration: firebrick;
	position: relative;
	transition-duration: 0.2s;

}

.button_left_index:hover {

	background-color: rgba(234, 235, 171, 0.692);
}

/*
	Indexの選択肢のボタン(中央)
	animation付き
	ボタンの縁はjavascriptで変更する
	heightはjavascriptで指定
*/
.button_middle_index {
	justify-content: center;
	align-items: center;
	background: rgb(219, 221, 224);
	border: 2px solid rgb(102, 112, 168);
	box-sizing: border-box;
	float:left;
	width:33%;
	color:  rgb(102, 112, 168);
	font-size: 14px;
	text-align: center;
	text-decoration: firebrick;
	position: relative;
	transition-duration: 0.2s;

}

.button_middle_index:hover {

	background-color: rgba(234, 235, 171, 0.692);
}

.square:before {
	content: “”;
	display: block;
	padding-top: 100%;
}


/*
	Indexの選択肢のボタン(右側)
	animation付き
	ボタンの縁はjavascriptで変更する
	heightはjavascriptで指定
*/
.button_right_index {
	justify-content: center;
	align-items: center;
	background: rgb(219, 221, 224);
	border: 2px solid rgb(102, 112, 168);
	box-sizing: border-box;
	float:left;
	width:33%;
	color:  rgb(102, 112, 168);
	font-size: 14px;
	text-align: center;
	text-decoration: firebrick;
	position: relative;
	transition-duration: 0.2s;

}

.button_right_index:hover {

	background-color: rgba(234, 235, 171, 0.692);
}




/*
	記事を閉じるボタン
*/

.close_button_index{
	justify-content: center;
	align-items: center;

	background: rgb(233, 235, 226);
	border: 1px solid black;
	box-sizing: border-box;

	width:60px;
	height:35px;
	

	color: rgb(243, 94, 67);
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	position: relative;
	transition-duration: 0.2s;
}


.close_button_index:hover{
	background:rgb(118, 87, 230);
	color: white;
}

/*
	項目の中身
*/
.article_index{
	background: rgb(253, 253, 253);	

	padding: 30px;		

	opacity: 0.85;

	border-radius: 20px;

	top:20%;
	left:10%;
	right:10%;
	z-index:3;


	position: fixed;

}